{% extends "layout.html" %}

{% block body %}

{% if(invalid==1): %}
<script>
  $(document).ready(function () {
    $('.nav-tabs a[href="#addWi"]').tab('show');
  });
</script>
{% endif %}


<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <h3 class="text-white">Fox Tooling Database</h3>
</nav>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tools">Tools</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Work Instructions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/wip">WIP Travelers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Process & Tooling</a>
    </li>
  </ul>
</nav>



<div class="container mt-3">
  <h2>Work Instructions</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#search">Search WIs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#addWi">Add WI</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="search" class="container tab-pane active"> <br>
      <div class="container p-4">
        <form action="#">
          <div class="input-group mb-3">
            <br>
            <input type="text" id="wiSearch" class="form-control tableSearch"
              placeholder="Search by WI Number, Description, or Workstation" autocomplete="off">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>

      </div>
      <div class="container">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>WI Number</th>
              <th>Description</th>
              <th>Workstation</th>
            </tr>
          </thead>
          <tbody id="wiSearchBody" class="searchBody">
            {% for row in wiTable %}
            <tr>
              <td class = "text-nowrap"><a href="/wiEdit?wiNum={{ row[1] }}" target="_blank">{{ row[1] }}</a></td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div id="addWi" class="container tab-pane fade"><br>
      <div class="container p-4">
        <form action="/addWiSubmit">
          <div class="form-group row">
            <label for="wiNum" class="col-sm-2 col-form-label">WI Number</label>
            <div class="col-sm-10">
              <input type="text" name="wiNum" class="form-control" placeholder="Enter WI Number" autocomplete="off"
                required>
              {% if invalid==1: %}
              <div class="is-invalid">The WI number entered is in use.</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group row">
            <label for="wiDesc" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" name="wiDesc" class="form-control" placeholder="Enter Description" autocomplete="off"
                required>
            </div>
          </div>

          <div class="form-group row">
            <label for="wiLoc" class="col-sm-2 col-form-label">Workstation</label>
            <div class="col-sm-10">
              <input type="text" name="wiLoc" class="form-control" placeholder="Enter Workstation" autocomplete="off"
                required>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}